* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}

main{
    flex: 1;
}

:root {
    --main-bg: #0C0C0C;
    --card-bg: #181818;
    --input-bg: #222222;


    --accent-green: #45A133;
    --accent-hover: #3d8f2d;
    --danger-red: #DA3633;


    --text-white: #FFFFFF;
    --text-gray: #8E8E8E;


    --border-color: #262626;
}

body {
    color: var(--text-white);
    background-color: var(--main-bg);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 6rem;
    background-color: var(--card-bg);
}

header h1 {
    font-size: 30px;
    letter-spacing: 1px;
    font-family: "Montserrat", sans-serif;
    margin-left: 20px;
    
    opacity: 0.9;

    background-size: 200%;

    animation: opacity 1s ease-out;
}

@keyframes opacity{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.9;
    }
}

#stats {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.card{
    background-color: var(--card-bg);
    border: 1px solid var(--border-color);
    border-radius: 12px;
    padding: 0.5rem;
    font-size: 12px;
}

.card p {
    text-align: center;
}

.income {
    color: var(--accent-green);
}

.expenses {
    color: var(--danger-red);
}

.mainObject {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.TransactionsBlock {
    background-color: var(--card-bg);
    border: 1px solid var(--border-color);
    border-radius: 12px;
    width: 90%;

}

.Transactions {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Transactions h3 {
    width: 90%;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    background-color: #262626;
    border-radius: 7px;
}

.list {
    width: 80%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
}

.list li {
    border-radius: 10px;
    background-color: var(--border-color);
    padding: 10px 20px;
    height: auto;
}

.chartsBlock {
    background-color: var(--card-bg);
    border: 1px solid var(--border-color);
    border-radius: 12px;
    width: 90%;
}

.chartsBlock div {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.chartsBlock div button {
    margin-top: 10px;
    background-color: var(--input-bg);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    color: var(--text-white);
    width: 5rem;
    height: 2rem;
    transition: transform 0.1s linear,
    background-color 0.5s ease;
}

.chartsBlock div button:hover {
    background-color: var(--accent-hover);
}

.chartsBlock div button:active {
    transform: scale(0.9);
}

.Add {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.openModal {
    font-size: 15px;
    font-weight: 600;
    margin-top: 10px;
    background-color: var(--input-bg);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    color: var(--text-white);
    width: 10rem;
    height: 2rem;
    transition: transform 0.3s ease,
    background-color 0.5s ease;
}

.openModal:hover {
    background-color: var(--accent-hover);
}

.openModal:active {
    transform: scale(0.9);
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 3rem;
    background-color: var(--card-bg);
}

footer div a{
    color: var(--text-white);
    text-decoration: none;
    transition: color 0.5s ease;
}

footer div a:hover {
    color: var(--accent-hover);
}

.modal {
    opacity: 0;
    visibility: hidden;
    display: flex;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modalOverlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.closeModal {
    text-align: center;
    position: absolute;
    z-index: 3;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    font-size: 20px;
    transition: transform 0.1s ease, color 0.3s ease;
}

.closeModal:hover{
    color: var(--accent-hover);
}

.closeModal:active{
    transform: scale(0.9);
}

.modalContent {
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    border: 1px solid var(--border-color);
    background: var(--card-bg);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    width: 80%;
    height: 70%;
    gap: 30px;
    transform: scale(0.8);
    transition: transform 0.3s ease;
}

.formAdd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    color: var(--text-white);
}

.closeModal {
    background-color: var(--card-bg);
    border: none;
    color: var(--text-white);
    width: 20px;
    height: 20px;
}

.formAdd input {
    padding-left: 5px;
    color: var(--text-white);
    height: 2rem;
    border-radius: 5px;
    border:1px solid var(--border-color);
    background-color: var(--input-bg);
}

.formAdd select {
    border-radius: 5px;
    border:1px solid var(--border-color);
    color: var(--text-gray);
    background-color: var(--input-bg);
}

.formAdd button {
    margin-top: 10px;
    background-color: var(--input-bg);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    color: var(--text-white);
    width: 12rem;
    height: 3rem;
    transition: transform 0.1s linear,
    background-color 0.5s ease;
}

.formAdd button:hover {
    background-color: var(--accent-hover);
}

.formAdd button:active {
    transform: scale(0.9);
}

.radio-group {
    display: flex;
    gap: 20px;
}

.radio-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.modal.active {
    visibility: visible;
    opacity: 1;
}

.modal.active .modalContent{
        transform: scale(1);
}


li {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
}

.li-name{
    font-size: 15px;
}

.li-amount {
    font-size: 15px;
}

.li-category{
    font-size: 15px;
}

.Chart_ {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
}