* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

:root {
    --main-bg: #0C0C0C;
    --card-bg: #181818;
    --input-bg: #222222;


    --accent-green: #45A133;
    --accent-hover: #3d8f2d;
    --danger-red: #DA3633;


    --text-white: #FFFFFF;
    --text-gray: #8E8E8E;


    --border-color: #262626;
    --card-radius: 12px;
}

body {
    color: var(--text-white);
    background-color: var(--main-bg);
}

header {
    text-align: center;
    line-height: 100px;
    width: 100%;
    height: 100px;
}

header h1 {
    font-size: 30px;
    letter-spacing: 1px;
    font-family: "Montserrat", sans-serif;
    
    opacity: 0.9;

    background-size: 200%;

    animation: opacity 1s ease-out;
}

@keyframes opacity{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.9;
    }
}